[2015-11-16 06:59] SkyNite opened #1 "Image is not displaying when i get image path from another activity"
Hi,

Thanks for sharing this library.

I'm facing a issue in the following scenario,

1. Image path is taken from ActivityA, now i pass the path  ActivityA to MainActivity(Your Cropper MainAcitivity)
2.I load the path value directly in loadNewImage(). (eg. loadNewImage(getIntent().getExtras().getString("IMAGE_PATH"))
3. Now the image was displayed, while i perform zoom option the image was gone, w

[2015-11-16 07:43] jayrambhia commented on #1
I have done this with Camera (in one of my apps) and it has worked for me. Could you let me know the size of the bitmap that is loaded? I am currently resizing the camera image to around 1280x760 and loading in the cropper view and it seems to work.

[2015-11-16 10:31] alphaDroid89 commented on #1
Image size is 1280x851; but the same image is worked fine when its selected from Cropper App, images from other activity can't able to do zoom and crop. Sorry to ask may i know, did you clear on this issue.

[2015-11-16 11:16] jayrambhia commented on #1
I am trying to figure out what the issue could be. What do you mean by "images from other apps"? So to make it clear, the issue is, you are unable to zoom/crop image when you are obtaining the image from the camera. But it works fine if you select it from the gallery. Could you post some more code if possible?

[2015-11-16 12:27] alphaDroid89 commented on #1
Hi, added the my working sample and video in the following link  plz refer it.
https://www.dropbox.com/sh/ambx6fk1x1zy0cw/AABNvPY2UaQ7XnT8ab268gHoa?dl=0

this will help me address my issue exactly.

I updated my previous comments its not Apps actually its other Activity.

[2015-11-17 05:09] jayrambhia commented on #1
@SkyNite Yeah, it's a bug. Since you're loading image in onCreate(), the cropperview is not measured properly and hence there are some unforeseen issues. I'll resolve this issue in some time. Meanwhile, if you want to solve this, use a handler with delay or use a background thread (optimal solution) to load bitmap.

[2015-11-17 05:15] alphaDroid89 commented on #1
Sure, I used AsyncTask for loading the image, its working fine. please let me know if good/proper solution other than this.

thanks for your quick response :)

[2015-11-17 06:07] jayrambhia commented on #1
@SkyNite It turns out that this issue was related to the sample. In the sample, it was setting max zoom as 0 and hence the issue. I have updated the sample.

[code]

This should fix the problem.

[2015-11-17 06:07] #1 closed

[2015-11-17 06:34] alphaDroid89 commented on #1
@jayrambhia Great thanks yar :+1:

[2015-11-18 20:52] tuhin10 opened #2 "com.fenchtose.nocropper.CropperView height issue"
it seems your are calculating the CropperView based on the width of the view. Now the problem is I'm not able to make the view center in the screen.

     <?xml version="1.0" encoding="utf-8"?>
    <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_par

[2015-11-18 20:55] tuhin10 commented on #2
I want to remove the white space between lower buttons and crop view, by center aligning the cropview.

[2015-11-19 07:04] jayrambhia commented on #2
You're right. It does calculate height based on the width to make it square. Maybe it wouldn't work properly in Landscape mode. You can solve your problem by changing your layout.

If you want to keep the cropper in center, use `layout_gravity="center"` and since it is a square, you would want your FrameLayout height to `wrap_content`.

[code]

[2015-11-19 07:08] jayrambhia opened #3 "Support for Landscape Layout"
Currently, the CropperView offsets the height based on width. This wouldn't work properly in landscape scenario. Add support for Landscape layout.

[2015-11-19 07:09] jayrambhia commented on #2
Closed in favor of https://github.com/jayrambhia/CropperNoCropper/issues/3

[2015-11-19 07:09] #2 closed

[2015-11-19 09:56] jayrambhia commented on #3
https://github.com/jayrambhia/CropperNoCropper/commit/95128a1382faa57c3ec596bfaaefbab0c3a9f897 fixed this.

[2015-11-19 09:56] #3 closed

[2015-11-30 15:11] tahirSmartboy opened #4 "Not works when the image leaves the border of CropperView"
When we zoom the image in the CropperView and moves the image ...the image in the CropperView leaves the border and after this if we crop the image it gives this error....

java.lang.IllegalArgumentException: x + width must be <= bitmap.width()

[2015-11-30 15:41] jayrambhia commented on #4
@tahirSmartboy Have you set any max zoom? Also, could you provide me the image dimensions? It would be very easy to reproduce and debug.

[2015-11-30 16:00] tahirSmartboy commented on #4
No I haven’t set any max zoom ...

![screenshot_2015-11-30-20-53-54](https://cloud.githubusercontent.com/assets/10927636/11476481/f767e50c-97a8-11e5-8a36-a044d7294041.png)
![screenshot_2015-11-30-20-54-47](https://cloud.githubusercontent.com/assets/10927636/11476482/f7745fd0-97a8-11e5-948d-1727b4f105e8.png)

![Uploading Screenshot_2015-11-30-20-55-21.png…]()

these are the screenshots...

Dimes ar

[2015-12-02 00:30] jaumecolom commented on #4
It's happening the same to me, how can we solve it? Thanks

[2015-12-02 18:28] jayrambhia commented on #4
yeah, I'm working on it.

[2015-12-03 19:59] #4 closed

[2015-12-04 21:48] faizanabidnaqvi opened #5 "Padding color doesn't get set from the setPaddingColor function"
I tried to use the setPaddingColor(color) function for the CropperView but it isn't saving it with the padding color. However, if I set the padding color from the layout file, then it works.

So I looked in your code and in your function (in CropperView), setPaddingColor doesn't set the padding color for the mImageView.

On my side I just modified your code to fix it but just letting you know too.

[2015-12-10 14:16] anvesh523 opened #6 "After crop some part of new image is coming with white space"
http://imgur.com/a/j1Tew

I think some guy raised an issue about border,
![screenshot_2015-12-10-19-15-23](https://cloud.githubusercontent.com/assets/10726276/11717404/4f158be0-9f76-11e5-9490-a6f91c2640f0.png)

->
If imageview having free space it's creating white space along with image.
->

![crop_test](https://cloud.githubusercontent.com/assets/10726276/11717424/65d85858-9f76-11e5-8c2a-23143a382

[2015-12-10 14:34] anvesh523 commented on #6
I checked setMinZoom, it's not working !!!!!

[2015-12-10 15:34] akashk1992 opened #7 "Support Pinch To Zoom"
does this support doupble tap to zoom?

[2015-12-11 09:50] jayrambhia commented on #7
It supports Pinch to zoom but doesn't support tap to zoom

[2015-12-11 09:50] #7 closed

[2015-12-11 09:53] jayrambhia commented on #6
That's intentional. As mentioned in the description, the cropper gives a square image and if the image is not square, it adds padding to it and returns a square image. https://github.com/jayrambhia/CropperNoCropper/blob/master/nocropper/src/main/java/com/fenchtose/nocropper/CropperImageView.java#L606

You can set `paddingColor` in xml. Setting padding color is not currently supported in code.

[2015-12-11 09:53] #6 closed

[2015-12-11 09:53] jayrambhia commented on #6
@anvesh523 Would you want an option where cropper doesn't add padding?

[2015-12-11 09:56] jayrambhia commented on #5
@faizanabidnaqvi Thanks for this. :) I'll update the code. You should send a pull request :)

[2015-12-11 10:09] anvesh523 commented on #6
@jayrambhia  Yes, If either I am adding padding color or not my expected image is not coming (coming with some extra boarder), If you have any option please let me know without padding.

[2015-12-11 10:48] anvesh523 commented on #6
My suggestion if I can set setMinZoom is Math.min( width , height ) of image then It can't show the padding part. I tried in my code setMinZoom, But it's not working. I think It's taking max ( width, height ). Can you took it once please ....

[2015-12-11 12:06] tahirSmartboy commented on #5
@jayrambhia can we remove the padding ?? i want just image .....of any aspect ratio...can i do this ..plz help .....?

[2015-12-11 13:05] jayrambhia commented on #5
@tahirSmartboy The cropper gives the output as a square image. So minZoom or maxZoom won't help. If you want a quick fix, you should use the source code and remove padding commands. I'll try to add it by tonight.

[2015-12-11 13:06] jayrambhia commented on #6
It will show the padding because the cropper gives out the square image and that was its primary function when I made it. I'll see if I can change it or not.

[2015-12-11 13:10] tahirSmartboy commented on #5
@jayrambhia thanks ...ill wait till tommorow .....because i also get some error on importing any package as an offline library :(

[2015-12-11 13:14] anvesh523 commented on #6
Thank you for that, If setMinZoom will works my problem is solved.

[2015-12-11 14:51] jayrambhia commented on #6
Fixed this.

[2015-12-11 14:52] jayrambhia commented on #5
Fixed it.

[2015-12-11 14:52] #5 closed

[2016-01-18 10:40] tahirSmartboy opened #8 "how to set max aspect ratio?"
thanks for the last update of removing the padding @jayrambhia, how can i set the max aspect ratio of the image while cropping?

[2016-01-18 12:37] jayrambhia commented on #8
@tahirSmartboy Aspect ratio is 1:1 as this is a square cropper.

[2016-01-18 12:37] #8 closed

[2016-01-18 13:57] tahirSmartboy commented on #8
but in the latest update you have given an option of setMakeSquare(boolean)

[2016-01-18 13:59] tahirSmartboy commented on #8
how to set a minimum zoom out ratio for the image in the square window on make square as false

[2016-01-18 15:17] jayrambhia commented on #8
You can use `setMinZoom()`

[2016-01-20 15:39] Vierco opened #9 "Custom crop frame"
Hi @jayrambhia
Thanks for sharing this library.

It´s possible change the ratio of the crop frame?
Now its a square, but i need crop with a vertical rectangle form.
The output size now it´s 960x960, it´s possible change this too?¿

Thanks ind advanced :))

Sergio

[2016-01-21 05:56] jayrambhia commented on #9
This cropper was specifically made to crop out square images so other ratios are not supported. There is an option `setMakeSquare(boolean makeSquare)` where if you pass `false`, it would not add padding to the final image to make it square. But I don't think that's what you want.

[2016-01-21 10:06] Vierco commented on #9
Oks! Thanks for your quick answer!

[2016-01-27 07:12] delstra opened #10 "no panning with min zoom"
when i set min zoom to suppose 1.25 of the height, it works fine on supporting minimum zoom but after minimum zooming, I cannot pan the image within the square. The image snaps back to the minimum zoom set with center aligned.

[2016-03-24 06:08] #9 closed

[2016-04-15 17:01] canberkcakmak opened #11 "Resizing final image"
Hi, thanks for great library. How can i change the size final image px. For example when i use square final image gives 720x720 , or when i crop rectangle  height or width 720px. But i want to change this with 1280 or etc. How can i do? thank you.

[2016-04-15 20:03] jayrambhia commented on #11
@canberkcakmak Since it's a cropper, it does not resize the bitmap at all. If you zoom in a lot, it would crop out that region without scaling it. So I think your input image width or height would be 720px. You can always resize the image manually once you have cropped it out.

[2016-04-15 20:03] #11 closed

[2016-04-29 11:05] shaileshmulange opened #12 "how to get "bitmap" from our image-view(CropperView)?"
I have tried to get "bitmap" from CropperView like our regular android image-view.
In android, we get "bitmap" using the following line
BitmapDrawable drawable = (BitmapDrawable) iv_image.getDrawable(); Bitmap image = drawable.getBitmap();
I have tried same thing with CropperView but getDrawable() method is not working.
I want bitmap for the change its brightness. I get the bitmap from CropperView

[2016-04-29 13:11] jayrambhia commented on #12
`CropperView.getCroppedBitmap()`

[2016-04-29 13:11] #12 closed

[2016-06-05 05:34] hardz opened #13 "Resize Bitmap In replaceBitmap(bitmap) Method"
Thanks for Awesome work on NoCropper.
Really Amazing Library to Achieve decent crop function.

In last update it's introduce replaceBitmap() method , this is the thing that i was looking for.
After block  "Bitmap is of different size. Not replacing" part in replaceBitmap method  it's resize bitmap for the first time, then it's work fine.

how to make it work fine ? for all the time including very

[2016-06-05 17:59] jayrambhia commented on #13
@hardz
Are you using `0.1.6`?
If yes, can you elaborate? I am not able to follow the problem. An example code would be helpful.

In 0.1.5, there was an issue with this method that even if you used replace, cropped out image would be based on the original bitmap. That was fixed 0.1.6.

[2016-06-06 04:31] hardz commented on #13
@jayrambhia
Thanks for Reply..!

Yes ! I'm using 0.1.6.

Let me Elaborate this issue perfectly.

Step 1 :
There in one bitmap(Original Bitmap) that i picked from gallery or camera, it will provided to CropperView using setImageBitmap(bitmap) method. Work fine !

Step 2 :
After doing some process on Original Bitmap(Not resizing), it's remain same width and height, so i have to replace the bitmap as

[2016-06-06 06:02] jayrambhia commented on #13
Let mw write a flow for this.
1. `cropper.setImageBitmap(mOrigBitmap);`
2. `Bitmap processedBitmap = process(mOrigBitmap);`
3. `cropper.replaceBitmap(processedBitmap);` -> Doesn't change anything?
4. `cropper.replaceBitmap(processedBitmap);` -> Works fine.

@hardz is this correct?

[2016-06-08 07:59] jayrambhia commented on #13
Hey, @hardz can you confirm the issue? I'm unable to reproduce it. I may be missing something. It would be helpful if I could resolve this issue with your help.

[2016-06-11 07:14] hardz commented on #13
Hey, @jayrambhia Yes i Confirm the issue ! It's work fine there is no problem in Cropper class.
it happened just because of loadNewImage(mOrigBitmap) that i use before passing the image to cropperview using setImageBitmap(loadNewImage(mOrigBitmap)), and i did't use that same way to
replace processedBitmap using replaceBitmap(processedBitmap).

**changes in my worst flow is here**

cropper.setImage

[2016-06-13 05:34] #13 closed

[2016-06-18 03:20] hardz opened #14 "Imageview or Bitmap Rotate From Center Using replaceBitmap(mBitmap)"
@jayrambhia
Hello,

Yes, it's work fine when you wants to rotate bitmap with setBitmap(rotateBitmap(mOrigBitmap)), but when you scale image then do rotate, it's reassign bitmap to CropperView, so i like to use replaceBitmap(rotatedBitmap) for avoiding reassign bitmap, then i figured out it wan't rotate from center point as it has to.

How to get rid of this strange rotate behavior ?

Flow for this

[2016-06-18 14:35] jayrambhia commented on #14
1. replaceBitmap is not possible for rotating non-square bitmaps.
2. Rotate is not a feature that this cropper provides
3. Cropper doesn't have any idea about skew or rotation of the image matrix. And cropper sometimes resets the matrix so manually setting it also won't be helpful.
4. replaceBitmap is especially used if you just want to replace the bitmap after some processing. eg. brightness-cont

[2016-06-18 14:35] #14 closed

[2016-10-03 14:31] skined90 opened #15 "Images from gallery and camera are rotated."
On some devices, when I get image from gallery or camera intent, they are rotated in the crop view. I've tested it on LG G3 and Samsung Galaxy Note 3.

[2016-10-09 21:56] vbuberen commented on #15
@skined90
On some devices the camera itself is rotated physically, so you get rotated images. But users usually can't see it, because image viewer app reads EXIF data inside the photo file and rotates it back, as it should be. And looks like Cropper can`t handle it.

Here is some code, which I have used in some apps to handle this problem:

[code]

[2016-10-11 12:04] vbuberen commented on #15
@skined90
Yep, also checked on G3 and got rotated image. So LG G3 is another devices with rotated camera. You can use the code above to handle it or you can add buttons to rotate the image when it is already passed to Cropper. If you user version prior to 0.1.3 you can just call `BitmapUtils.rotateBitmap(bitmap, angle)`. If newer, you should implement this rotation itself, because lib creator dele

[2016-10-12 15:53] jayrambhia commented on #15
That behavior is intentional. The cropper takes a Bitmap as input, crops and gives a Bitmap as output. That is the only responsibility it has. I don't want to add more complexity to it.

Here's the code that would help in getting correct orientation of the bitmap.

[code]

[2016-10-12 15:53] #15 closed

[2016-11-19 06:23] shuaimango opened #17 "can project supports circle cropping and other ratio square cropping"
thank you very much

[2016-11-19 07:55] jayrambhia commented on #17
This was made particularly for cropping images to square. There are some ways you can use this easily as circle cropper.

You can put a circular overlay over the cropper view and use crop to get a square image. Then write your own code to crop it in the shape of a circle. You can use canvas of bitmap and draw circular shape with clearing paint - http://stackoverflow.com/questions/11337679/porterdu

[2016-11-19 07:55] #17 closed

[2016-12-14 10:15] ReddiSekharNaidu opened #18 "CropperView class is becoming null if we use progaurd in my project"
After enabling the progaurd in my project CropperNoCropper library is not working.
Its crashing and throwing the null pointer exception .

Can you please provide progaurd files which need to add in my project.
Thanks in advance

[2016-12-14 12:15] jayrambhia commented on #18
@ReddiSekharNaidu Can you post your proguard file as well as the crash logs?

[2017-01-31 12:18] HamidrezaAmz opened #19 "min zoom is not working"
I'm ok with setMaxZoom, but unfortunately setMinZoom is not working!
Here is my code

`// Set Bitmap
    cropperView.setImageBitmap(bitmap);
// Set Max and Min Cropping
    cropperView.setMaxZoom(1.5f);
    cropperView.setMinZoom(0.8f);`

[2017-03-06 11:22] marinovskiy opened #20 "Does need to exclude getCroppedBitmap() to another thread?"
Does need to exclude getCroppedBitmap() to another thread?

[2017-04-14 10:11] jayrambhia commented on #20
Added in 0.1.8.

[2017-04-14 10:11] #20 closed

[2017-04-14 10:11] jayrambhia commented on #10
Fixed in 0.1.8.

[2017-04-20 08:25] jitheeshsk opened #21 "On zooming less than min zoom the image is panned to center"
Set min zoom to 0.8f.
Take an image which is really long in height, i'm using the below image.

Issue seems to be in on up
 private boolean onUp(){
...
            if (showAnimation()) {

                animateAdjustmentWithScale(tx, xx, ty, **ty,** scaleX, mMinZoom);

            } else {
                matrix.reset();
                matrix.setScale(mMinZoom, mMinZoom);
                matrix.

[2017-04-20 08:56] jayrambhia commented on #21
Yes, that is the desired behavior. It's a cropper so it tires to pan the image to center.

[2017-04-20 09:08] jitheeshsk commented on #21
Shouldn't the state of view be maintained, it should pan to center of screen not image right, just a suggestion

[2017-04-20 09:10] jayrambhia commented on #21
@jitheeshsk I don't understand. How can image pan to center of itself? Can you add a gif/video? That would help me understand the problem.

[2017-04-20 09:27] jitheeshsk commented on #21
Attached is the gif showing the issue

![image_crop](https://cloud.githubusercontent.com/assets/6497623/25223592/672fa4e6-25d9-11e7-9ffa-01863278f913.gif)

[2017-04-20 09:29] jayrambhia commented on #21
@jitheeshsk Thanks for the gif. This is indeed a problem. Can you tell me which version of the lib are you using?

[2017-04-20 09:38] jitheeshsk commented on #21
It is 0.1.8

[2017-04-20 09:46] jayrambhia commented on #21
@jitheeshsk I'm unable to reproduce it in 0.1.8 with min zoom 0.8f.

![crop_out](https://cloud.githubusercontent.com/assets/1256649/25224552/061b8fea-25bf-11e7-8e47-bc36f8ed5440.gif)

[2017-04-20 09:52] jitheeshsk commented on #21
Hi the min zoom is not set, else the image cannot be the completely zoomed
out. Check the min zoom value.

I set min zoom in cropperview.post(). As the minZoomValue is rewritten in
onLayout of cropperImageView.

On Apr 20, 2017 3:16 PM, "Jay Rambhia" <notifications@github.com> wrote:

[2017-04-20 09:54] jayrambhia commented on #21
@jitheeshsk oh yes, got the problem. I'll try to fix it. And also `setMinZoom` should work out of the box.

[2017-04-20 09:56] jitheeshsk commented on #21
@jayrambhia I will also see if there is a work around, will try to post if i am able to resolve the issue.

Thanks

[2017-04-20 10:06] jayrambhia commented on #10
This issue is not yet fixed. #21

[2017-04-20 11:54] jitheeshsk commented on #21
in onUp()

[code]

Fixed the issue for me

[2017-04-20 13:32] jayrambhia commented on #21
Fixed in 0.1.9.

@jitheeshsk

[2017-04-20 13:32] #21 closed

[2017-04-20 13:32] jayrambhia commented on #19
There was an issue with this as layout would override minzoom. It has been fixed in `0.1.9`.

[2017-04-20 13:32] #19 closed

[2017-04-20 13:33] jayrambhia commented on #10
Fixed in `0.1.9`.

[2017-04-20 13:33] #10 closed

[2017-04-20 13:33] #18 closed

[2017-05-03 09:59] skined90 opened #22 "Image initially zoomed"
Is there any possibility to avoid image to be zoomed initially to 1:1 instead of its real size f.e. 16:9?

[2017-05-03 10:33] jayrambhia commented on #22
Yes, I'll add that. Meanwhile, you can use `fitToCenter()` after setting the bitmap.

[2017-05-03 15:38] #22 closed

[2017-05-03 15:38] jayrambhia commented on #22
Added in 0.2.0.

User `nocropper__fit_to_center=true` in xml or `CropperView#initWithFitToCenter(true)`

[2017-05-07 17:12] rednels opened #23 "Application crashes after drag the image out of the screen"
I did the following steps:

1. first, select a 9:16(w:h) image,
2. click make it fit to screen,
3. then, scale it a little use two fingers
4. drag it up out of the screen
5. crop the image

after that, it crashes.

update:

it will crash after i scale it smaller but not to fit center.
steps:
1. select a pic
2. scale it a little smaller
3.crop
then, it crashes.

[2017-05-16 14:08] yu-t opened #24 "Prescale issue"
With prescale enabled the cropping is working wrong.

[2017-05-16 14:27] jayrambhia commented on #24
Hi @yu-t Thanks for reporting the issue. Could you give me some more details so that I can reproduce it and fix it? Thanks.

[2017-05-16 14:33] jayrambhia commented on #23
@rednels
Can you give me the stacktrace so I can debug what the problem is? I am not able to reproduce it. Also, when you drag the image out of the screen, until the image is re-adjusted to the screen, the cropper won't crop the image. `cropBitmap()` will return null. Maybe that's why it's crashing.

[2017-05-16 16:08] yu-t commented on #24
@jayrambhia When I set an image as cropped to center (or any other scale, except fit to center), then after cropping it crops wrong (it saves not the same area that was visible in preview).
I assume this is because of the logic in the getCroppedBitmap() method. It should be changed to something like this:
[code]
As the scale is changed during the cropToCenter() and it's not 1.

[2017-05-16 16:42] jayrambhia commented on #24
@yu-t I can reproduce the issue. Could you tell me what are you using `preScaling` for? It has always been a half baked feature. This is the time I decide whether to fix it or remove it. I have not used that feature. And due to lack of documentation, I don't remember the exact reason I put it in the first place.

[2017-05-16 16:53] yu-t commented on #24
@jayrambhia I'm using it because I need to work with large images (more than 1280). And in order to display them without OutOfMemoryError it should be prescaled for preview. But the crop and save options should be applied to the original image for better quality. That's why I need it :)

[2017-05-16 16:58] jayrambhia commented on #24
@yu-t That's a good use case. I think I had something similar in mind when I was trying it out. I don't think the current approach works. And it will use more RAM as original bitmap is also kept in the memory. I was thinking, to make this work, when the user sets a high res image with preScaling, the cropper will resize it and not store the original image (Just the scale of the original image). An

[2017-05-16 17:19] yu-t commented on #24
@jayrambhia I think it's a good solution. And it seems to be working with this change in getCroppedBitmap():
[code]

[2017-05-17 20:05] pallav92 opened #25 "Grid lines ain't showing"
HI the grid lines on the cropper imageview are not shown

[2017-05-18 08:28] jayrambhia commented on #25
@pallav92 Can you post the screenshot and your code? I am not able to reproduce it.

[2017-05-18 08:29] jayrambhia commented on #23
Closing the issue as invalid.

[2017-05-27 13:25] rednels commented on #23
Sorry for late.

errer log:

[code]

error screen record :
[here](http://oqm5g5src.bkt.gdipper.com/Screencast_2017-05-27-21-09-50.mp4)

[2017-05-27 13:34] jayrambhia commented on #23
Thanks for the crash log. I'll look into it.

[2017-06-15 09:28] skined90 opened #26 "getCroppedBitmap has a private access"
In v0.2.0 I'm not able to use getCroppedBitmap() method anymore. I'm getting the error that getCroppedBitmap() has a private access. How should I get the cropped bitmap now?

Thanks in advance

[2017-06-15 09:35] skined90 commented on #26
Actually, I opened your class and saw that now there is cropBitmap() method instead of getCroppedBitmap(). Documentation is outdated.

[2017-06-21 11:52] iammert opened #27 "java.lang.IllegalArgumentException: y must be >= 0"
Version 0.1.7 works as intented but after updating v0.2 I get this exception.

[code]

[2017-07-12 12:36] marinovskiy opened #28 "Maybe need to add getter for mImageViewField in CropperView class?"
It will simplify setting images via Glide

[2017-07-18 07:19] skined90 opened #29 "Vertical Image moving to the left when zooming in"
When image is vertical and not maximum zoomed out and neither 1:1, image goes to the left.
This is a bug in latest release.

![screenshot_1500362285](https://user-images.githubusercontent.com/11742804/28304928-14346ba8-6b9a-11e7-8478-679e5775fc1f.png)
![screenshot_1500362293](https://user-images.githubusercontent.com/11742804/28304929-1434f226-6b9a-11e7-80f9-ac597e247f21.png)

[2017-07-18 07:33] skined90 commented on #25
@pallav92 Grid is not visible if you are using CropperImageView instead of CropperView.

[2017-07-18 08:36] #25 closed

[2017-07-18 10:16] jayrambhia commented on #29
@skined90 Thanks for reporting the issue. Is this happening for a particular image (dimension)? What's the min and max zoom that you have set?

[2017-07-18 10:40] skined90 commented on #29
@jayrambhia It happens for all dimensions where height is greater than width (vertical images). I did not set a min/max zoom. This is the config in xml:

[code]

[2017-08-11 18:53] supportclik commented on #29
me too.

[2017-08-18 12:40] prajwal-appiness commented on #27
Same is happening for me too. And the app is crashing.

[2017-08-18 12:41] prajwal-appiness commented on #29
Same is happening for me too and the app is crashing with following log,
java.lang.RuntimeException: An error occurred while executing doInBackground()
                                                       at android.os.AsyncTask$3.done(AsyncTask.java:309)
                                                       at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:354)

[2017-10-16 10:20] trghauri opened #30 "minimum height ratio 3:4"
i want to crop minimum 800 X 1200 image size
what i do?

[2017-11-22 15:17] ashu321 commented on #29
Hello same issues I'm facing too, please fix both the issues ,
1) left alignment of image when it's partially zoom (vertical) image
2) top alignment of image when it's partially zoom(horizontal)
3) crash when partially zoom

found the solution of above issues
include module and replace existing  CropperImageView class code to this

public class CropperImageView extends ImageView {

    private sta

[2017-11-29 11:07] hamedalireza opened #31 "how to SaveInstanceState and RestoreInstanceState of CropView for save and restore zoom value and position?"

[2017-12-20 16:32] skhizerabass opened #32 "How to keep the Gridview always Visible"
I want to keep the grid lines always available, But i am not able to find any solution for that. Is there any solution to keep it visible all the time ?

[2017-12-27 09:55] jayrambhia commented on #32
There's no way to do that right now. I'll add it to TO-DO.

[2017-12-27 09:57] jayrambhia commented on #31
That's a good issue. I had not thought about adding it. I'll see what I can do. Thanks.

[2017-12-27 09:59] jayrambhia commented on #28
Okay. I see your point.

[2017-12-27 10:00] jayrambhia commented on #30
This is a square image cropper and I don't plan to add support for other dimensions as of now.

[2017-12-27 10:00] #30 closed

[2017-12-27 10:02] #26 closed

[2017-12-27 12:07] jayrambhia commented on #32
Fixed in 0.2.1

[2017-12-27 12:07] #32 closed

[2017-12-27 12:08] jayrambhia commented on #29
Fixed in 0.2.1

[2017-12-27 12:08] #29 closed

[2017-12-27 12:09] jayrambhia commented on #23
Fixed in 0.2.1

[2017-12-27 12:09] #23 closed

[2017-12-27 12:09] jayrambhia commented on #27
Fixed in 0.2.1

[2017-12-27 12:09] #27 closed

[2017-12-27 18:21] skhizerabass commented on #32
Thanks man, It is working great now.

[2017-12-27 20:00] skhizerabass opened #33 "Is there anyway to find out the max zoom for my photos? e.g I want my higher dimension images that can only be zoomed till 1024px X 1024px dimensions"
Please let me know if there is any solution to calculate maxzoom for my desired dimensions ?

[2017-12-28 09:49] jayrambhia commented on #33
I don't understand what you mean. Zoom is mainly in terms of scale. You can get zoom by

[code]

I would advise you to load a scaled bitmap (lower res). Higher res image bitmaps may cause OOM issues.

[2017-12-28 09:49] #33 closed

[2017-12-30 17:47] jayrambhia commented on #24
Fixed in 0.3.0

[2017-12-30 17:47] #24 closed

[2017-12-31 12:21] ruhy99 opened #35 "Force not less than width or height"
How to force to imageview to not be reduced less than width and height of the CropperView at the same time? I have tried to use isMakeSquare and then putting it in the initial position but it's not clear. Please help!

[2017-12-31 15:44] jayrambhia commented on #35
setMinZoom(0) will not work.

From what I understand about what you're trying to achieve, you need to set a correct min zoom value.

[code]

Set this value as min zoom. This value will make sure that the smallest side (width or height) will always be greater or equal to the size of the cropper view.

Alternatively, you can try this
[code]
This min zoom will make sure that the biggest side (width o

[2018-04-13 20:43] andrefpc opened #36 "CropperView on ViewPager Swipe problem"
I have a problem in my CropperView, because the view Touch event don't prevent the ViewPager swipe, and this issue, makes it difficult to resize image.

[2018-04-14 06:46] jayrambhia commented on #36
Hi @andrefpc, can you attach a screenshot or a gif/video about the behavior?

[2018-04-17 16:06] matteinn commented on #35
Hey @jayrambhia , after setting a minZoom value I'm still able to zoom out so I guess it's not working as intended. Can you confirm, please?

[2018-04-22 13:43] stringybeans commented on #36
Hi @jayrambhia , I've had the same issue. When swiping to the left, the viewpager changes pages and the cropper doesn't move. When swiping to the right, there is stuttering since the cropper is on the last page.

https://giphy.com/gifs/lptwuCrr2oXHykRef3/html5

[2018-04-23 14:08] jayrambhia commented on #36
Hi @andrefpc, @stringybeans I'm looking into this to see if I can provide some assistance and fix the issue. The cropper was not meant to be used with the ViewPager as both of them use scroll and drag. Meanwhile, can you implement something like this https://stackoverflow.com/questions/9650265/how-do-disable-paging-by-swiping-with-finger-in-viewpager-but-still-be-able-to-s to see if it works or no

[2018-04-25 11:28] harshbhavsar011 opened #37 "minimum zoom related to Image width and height."
How can I set minimum zoom as per my Image width (For multiple Image selection)? Just like Instagram

Case 1: If I select a single image then Image should be zoom minimum as possible (Default).

Case 2: If I am selecting multiple Images then Images should be zoom minimum to image width (Just like `cropToCenter()`).

[2018-05-06 14:52] mehrikhan opened #38 "getCroppedBitmap returns BitmapResult and not a Bitmap"
Hi dear,

I was utilizing your great library "nocropper" for some of my need, i was working with the library on one of my PC where i get the Bitmap using getCroppedBitmap as " Bitmap bm = cropperView.getCroppedBitmap()", it went find and i got the resultant bitmap. But now i am working with the same library and code on my other PC where i get a weird error saying getCroppedBitmap returns BitmapRes

[2018-05-10 10:46] jayrambhia commented on #38
Yes, the API definition has changed and now it returns `BitmapResult`.

[code]

[2018-05-10 10:46] #38 closed

[2018-05-10 10:48] jayrambhia commented on #37
You can calculate the minimum zoom that you want and use `cropper.setMinZoom(value)` method to set min zoom.

[2018-05-10 10:48] #37 closed

[2018-05-11 07:17] harshbhavsar011 opened #39 "Cropped Bitmap also take black portion which is not part of Image ."
CroppedBitmap also take black line which is not part of Image .
How to remove that black portion

It happens with most potrait Images.
[code]

[2018-05-14 14:01] jayrambhia commented on #39
What black part are you talking about? Can you provide a screenshot?

Are you talking about the added padding to make the image square? If so, you may use

[code]

[2018-07-02 08:27] skined90 commented on #32
Is there any way to show the grid on start before any image manipulation?

[2018-07-03 09:48] jayrambhia commented on #32
Hi @skined90 At the moment, there's no direct way to do that. I'll create a new issue and will work on it later.

Meanwhile, you could try this:

[code]

[2018-07-03 10:19] skined90 commented on #32
@jayrambhia Thank you!

[2019-01-17 05:19] Tanv33rA commented on #27
This crash is occurring in 0.3.0 .

Fatal Exception: java.lang.IllegalArgumentException: x must be >= 0
       at android.graphics.Bitmap.checkXYSign(Bitmap.java:405)
       at android.graphics.Bitmap.createBitmap(Bitmap.java:800)
       at android.graphics.Bitmap.createBitmap(Bitmap.java:769)
       at com.fenchtose.nocropper.BitmapUtils.getCroppedBitmap(BitmapUtils.java:14)
       at com.fenchto

[2019-02-18 19:09] #36 closed

[2019-07-12 13:23] PlaystoreApp opened #41 "Zoom not working inside Scrollview/Nested Scrollveiw"
**zoom not working inside the scrollview and the gesture not responding inside the scrollview/Nested scrollview**

please find the below code:  and also tested with **CropperView** also  its not working the view is now just an image view. Not working in scroll sconatiner

       <android.support.v4.widget.NestedScrollView
        android:layout_width="match_parent"
        android:layout_height="m

[2019-09-23 05:55] BawenderTft opened #42 "save translations done on the image and restore back"
Hi ,
Thanks for the awesome work on the library. I wish to use the same thing just like instagram does for multi image cropping, my use case is
1. The user will be shown a list of images from gallery anf the cropperview just like instagram .
2. I want the user to select the image and do his opertations like scaling postioning in the cropperview
3. when the user clicks on another image we save the

[2019-09-23 13:55] jayrambhia commented on #42
Thanks for raising this issue. I am working on a solution and should be available today.

[2019-09-23 14:14] jayrambhia commented on #42
Support will be available from 0.3.1 version.

[2019-09-23 14:14] #42 closed

[2019-09-23 14:15] jayrambhia commented on #42
Use `getCropMatrix()` to obtain `CropMatrix` and use `setCropMatrix(CropMatrix matrix)` to restore the state.

[2019-09-23 14:21] jayrambhia commented on #31
Use `CropMatrix`.

[2019-09-23 14:21] #31 closed

[2019-09-28 07:14] Dhruvi-Matrix opened #45 "Can Load Video in CropActivity"
can we show video in your image cropper section?

[2019-10-17 13:50] BawenderTft commented on #42
Hi,
I am having a problem with the image cropmatrix.
The method setCropMatrix(cropmatrix, animate); works only if you set the animate method to be true and not if set to false, I wish to user this without the animation. Can please help.

[2019-10-22 09:19] jayrambhia commented on #42
Hi @BawenderTft, Can you share the snippet of your code where you are calling this method?

[2019-10-22 09:28] jayrambhia commented on #42
Hi @BawenderTft, Just double checked and it does seem to work. Please check the sample: https://github.com/jayrambhia/CropperNoCropper/blob/master/sample/src/main/java/com/fenctose/imagecropper/MainActivity.java#L171

Currently, we need to call `setCropMatrix` method after some delay.

[code]

[2019-11-26 07:29] ParthJadav opened #46 "How to Save Crop State"
How to save crop state white cropping with multiple images ?

[2020-01-10 12:16] Ashish19901 opened #47 "Image Rotate issue on Some devices"
we used  implementation 'com.fenchtose.nocropper:nocropper:0.3.1'  image rotate when we select image on samsung devices Samsung Galaxy A50 image rotate.

[2020-01-10 14:03] jayrambhia commented on #47
Hi @Ashish19901, this is just an image cropper and does not provide functionalities to load the images. A lot of devices store the images with 90 degrees orientation and this data is available in the EXIF metadata of the image. You would have to write the image loading functionality by yourself. https://stackoverflow.com/questions/3647993/android-bitmaps-loaded-from-gallery-are-rotated-in-imagevie

[2020-01-10 14:03] #47 closed

[2020-02-25 13:31] vasanihardik commented on #39
cropper.setMakeSquare(false);

this function work closed this issue

Thank you!

[2020-03-18 06:17] shrutikoshiya opened #48 "How to set this cropper view with vertical rectangular layout?"

[2020-03-18 06:22] #48 closed

[2020-04-11 09:15] malikbilal1997 opened #49 "Can't pinch smoothly if image size is large. (Performance)"

[2020-04-23 01:15] 3nbaessam opened #50 "question"
how get bitmap image after crop

[2020-04-26 06:37] jayrambhia commented on #49
A bitmap of size 1024*1024 will take 32 MB. So a bigger image will obviously cause a jank in the screen.

What you should do:

 1. Scale down the image before loading in the CropperView
  2. Use `CropInfo`and use it to crop the original Bitmap. https://github.com/jayrambhia/CropperNoCropper#cropinfo

You can also try `ScaledCropper` - https://github.com/jayrambhia/CropperNoCropper#how-to-use-it

[2020-04-26 06:38] jayrambhia commented on #50
- Sync - `getCroppedBitmap`
 - Async - https://github.com/jayrambhia/CropperNoCropper#croppercallback

[2020-04-26 06:38] #50 closed

[2020-04-26 08:33] malikbilal1997 commented on #49
Thanks for your reply. Is there any way to integrate Picasso or Glide with your library so that they can handle the scaling stuff?

[2020-04-26 20:18] #49 closed

[2020-04-28 02:08] 3nbaessam opened #51 "Cropping current bitmap. Can't perform this action right now help please"

[2020-04-28 13:37] DanielMartinus opened #52 "Grid color when moving"
Hey there,

With the following configuration the CropperView still shows a grid view when moving the image even though the grid_color, thickness are set to make it transparant.

Is there a way to hide the grid lines when moving the image? For us this is not relevant since we don't try to align buildings and stuff :)

[code]

| When not moving | when moving the image |
| - | - |
| ![Screenshot_1588

[2020-04-29 05:28] jayrambhia commented on #52
Hi, it's possible. You can use `CropperView.setGridCallback`

[2020-09-12 06:56] NaveenKadiyala opened #54 "Applying cropping to the Rotated image was not working"
Hi, thanks for the library it was cool and have the features i needed.
I was facing an issue found this in your sample app too.
When i was trying to crop the original image after setting the rotation it was not working.
pls check once and let me know any possible solution.

**Note** :
It was working with `BitmapResult result = mImageView.getCroppedBitmap();`
But not working when i try to crop the

[2020-12-18 08:58] PlayBoyOG opened #55 "y+height must be <= bitmap.getHeight();"
Anytime I try to crop a screenshot it throws that error ,pls what can I do

[2020-12-18 10:26] jayrambhia commented on #55
@PlayBoyOG Please submit the error stacktrace and your code (without any private details).

[2021-08-08 11:59] nazemi0101 opened #56 "we can crop image out of image size with transparency background? Help us please"
crop image with transparency area image like image send
ability move image out of image box size (free mode)

![imageCrop](https://user-images.githubusercontent.com/47674802/128631186-0673d150-a1d2-4671-8846-ebb389e35c42.png)

[2022-05-30 17:13] muthuvel2 opened #57 "cropper.crop() cropping incorrectly"
@jayrambhia , Thanks for this great library.

Facing issue in cropper.crop().

cropper.crop() is not producing the exact cropped image. But getCroppedBitmap() works as expected.

I'm calling the crop method onGestureCompleted call back. getting the cropinfo and  triggering the cropper.crop().

Cropper.crop position moves to left side of the image